{%extends 'base.html'%}
{%block title%}Cart{%endblock title%}

{%block content%}
{% for message in messages %}
<div>{{message}}</div>
{% endfor %}
<div class="container">
    <table class="table">
        <thead>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </thead>

        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>Total: {{item.total}}</td>
                <td></td>
            </tr>
        </tfoot>

        {% for item in cart_items %}
        <tr>
            <td>{{item.product.name}}</td>
            <td>{{item.product.price}}</td>
            <td>
                <form action="update/{{item.id}}" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <a href="decrease_quantity/{{item.id}}" class="input-group-text btn btn-success">
                            -
                        </a>
                        <input type="number" class="form-control" name="quantity" value="{{item.quantity}}">
                        <a href="increase_quantity/{{item.id}}" class="input-group-text btn btn-success">
                            +
                        </a>
                    </div>
                </form>
            </td>
            <td><a href="delete/{{item.id}}" class="btn btn-danger bt-sm">Remove</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}